<H1> Wake up! </h1>


<form action="/ask" method="get">
  <input type="text" name="member" placeholder="Please send something into my first Rails Placeholder :) !" >
  <input type="submit" value="Ask!">
</form>
