// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 // Définir une variable
 $gray: #F4F4F4;

 body {
   background: $gray; // Using this variable
   font-family: Arial, Helvetica, sans-serif;
 }


 .question {
  border-left: 5px solid;
  padding-left: 10px;
 }

 .answer {
  background: yellow;
  opacity: 0.5;
  padding: 10px;
  border-left: 5px solid;
  h1 {
    font-size: 50px;
  }
}

a {
  margin-top: 10px;
  color: blue;
  opacity: 0.5;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

.footer{
  margin-top: 10px;
}
